body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Base components */
.card {
  border: 1px solid #f4f4f4;
  border-radius: 2px;
  background-color: #ffffff;
}

/* Profile component */
.profile {
  width: 300px;
  height: auto;
  border-radius: 2px;
  background-color: #ffffff;
}
.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

/* Main component */

.main-content {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

/* Footer components */
.footer {
  position: relative;
  width: 100%;
  height: 60px;
  text-align: center
}

.footer p {
  /* position: absolute;
  top: 50%;
  left: 50%; */
}

